/**************************
* Sup thème
* imge url background: url(../images/header.png);
**************************/

/* Pour test: enlève le titre du site */
/* .site-title {
	display: none;
} */

.woocommerce ul.products li.product .woocommerce-loop-category__title,.woocommerce ul.products li.product .woocommerce-loop-product__title,.woocommerce ul.products li.product h3 {
    padding: .5em 0;
    margin: 0;
    font-size: 0.8em
}

